body {
  font-family: 'Lato', sans-serif;
}

.jumbotron {
  background-image: url("971.jpg");
  background-size: cover;
  height: 100vh;
  color: gainsboro;
  opacity: 0.9;
}

.container2 {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 55%;
}

.container2 h4{
  margin: 3%;
}

#py{
  background-color: green;
}
#cpp{
  background-color: blue;
}
#js{
  background-color: yellow;
}