body {
  font-family: 'Lato', sans-serif;
  background-color: #313336;
  color: gainsboro;
}

.jumbotron {
  background-image: url("971.jpg");
  background-size: cover;
  height: 100vh;
  opacity: 0.9;
}

.container2 {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 55%;
}

.container2 h4{
  margin: 3%;
}

a {
  color: whitesmoke;
}

.progress {
  background-color: #54595c;
}

.card-container {
  padding: 2%;
}

.card {
  background-color: grey;
}

#py{
  background-color: green;
}
#cpp{
  background-color: blue;
}
#js{
  background-color: yellow;
}
#sol {
  background-color: #000000;
}